# Drizzle
# Replace with your DB credentials!
DATABASE_URL=""

# JWT
JWT_SECRET="****"
NODE_ENV="development"


# Replace with your Polar credentials!
# https://docs.polar.sh/integrate/oat
POLAR_ACCESS_TOKEN="***********"
# https://docs.polar.sh/integrate/webhooks/endpoints#setup-webhooks
POLAR_WEBHOOK_SECRET="*************"
# Polar server mode - production or sandbox
POLAR_MODE="development"
# client url - this is the URL the customer would be led to if they purchase something.
POLAR_SUCCESS_URL="http://localhost:5137/success"

# Resend
# https://app.resend.com/
RESEND_API_KEY="****"
